.aboutMeContainer {
	width: 837px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 21px;
	padding-top: 20px;
}
.titleWrapper {
	transform: translateY(30px);
}

.pictureWrapper {
	transform: translateY(-10px);
}

.flexContainer {
	display: flex;
	padding-left: 57px;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	width: 100%;
}

.description {
	width: 408px;
	line-height: auto;
	font-size: 40px;
	font-family: var(--fuente-cuerpo);
	margin-bottom: 40px;
	align-self: flex-end;
}

.textContainer {
	padding-left: 57px;
	width: 100%;
	height: 100%;
	line-height: auto;
	color: var(--gris-claro);
	font: var(--fuente-cuerpo);
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.textContainer p {
	font-size: 34px;
	margin-top: 5px;
	margin-bottom: 0px;
}
@media (max-width: 1000px) {
	.aboutMeContainer {
		width: 100%;
		padding-right: 20px;
		height: auto;
		margin-top: -50px;
	}
	.description {
		width: 100%;
	}

	.textContainer,
	.flexContainer {
		padding-left: 20px;
		padding-right: 20px;
		justify-content: space-between;
	}
	.flexContainer p {
		font-size: 34px;
	}
	.textContainer p {
		font-size: 30px;
	}
	.pictureWrapper {
		transform: translateY(10px);
	}
}
