:root {
    --bg-color: #2c3e50;
    --paper-color: #fff;
    --line-color: #e0e0e0;
    --accent-color: #8e44ad;
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center; /* Centra el conjunto en la pantalla */
    align-items: center;
    height: 100vh;
    margin: 0;
    perspective: 2000px;
    font-family: 'Courier New', Courier, monospace;
}

/* Contenedor principal que divide la pantalla */
.container {
    display: flex;
    width: 90%;
    max-width: 1000px;
    align-items: center;
    justify-content: space-between; /* Crea el espacio entre info y libro */
}

/* Sección de información a la izquierda */
.sidebar {
    width: 300px;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
}

/* Ajustes del Libro (Derecha) */
.book {
    width: 350px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;

}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: var(--paper-color);
    background-image: linear-gradient(var(--line-color) 1px, transparent 1px),
                      linear-gradient(90deg, var(--line-color) 1px, transparent 1px);
    background-size: 20px 20px;
    /* box-shadow: inset 3px 0px 20px rgba(0,0,0,0.1); */
    border-radius: 22px;
}

.back {
    transform: rotateY(180deg);
    background-color: #f0f0f0;
}

.page.flipped {
    transform: rotateY(-180deg);
}

.cover {
    background-color: var(--accent-color) !important;
    background-image: none !important;
    color: white;
}