.titleCardContainer {
	background-color: var(--gris-claro);
	height: 76px;
	width: fit-content;
	display: flex;
	justify-content: var(--flex-align, left);
	align-items: center;
	padding-left: 0px;
}
.titleCardContainer h2 {
	margin: 5px;
	font-size: 46px;
	color: var(--gris);
	font-family: var(--fuente-titulo);
	text-align: var(--text-align, left);
	line-height: 1;
	width: 100%;
	padding: 30px;
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
	.titleCardContainer h2 {
		font-size: clamp(32px, 6vw, 36px) !important;
		word-break: break-word;
		text-wrap: pretty;
	}
}
