.trainingCard {
	border-radius: 15px;
	background-color: var(--gris-claro);
	width: 80%;
	padding: 10px;
	transition: transform 0.2s ease-out;
}
.trainingCard:hover {
	box-shadow: 2px 2px 18px 3px var(--teal);
	animation: box-shadow 2s ease-in-out infinite;
	transform: scale(1.01);
	transition: transform 0.2s ease-out;
}

.trainingCard h2 {
	color: var(--gris);
	font: var(--fuente-cuerpo);
	font-style: italic;
	font-size: 28px;
	font-weight: bold;
	margin: 0;
	padding-left: 15px;
}
.trainingCard h3 {
	color: var(--gris);
	font: var(--fuente-cuerpo);
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding-left: 15px;
}
.trainingCard p,
.durationCard p {
	color: var(--gris);
	font: var(--fuente-cuerpo);
	padding-left: 15px;
}

.trainingCard p {
	font-size: 16px;
	margin: 0;
}
