.section {
  padding: 5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  max-width: 56rem;
  width: 100%;
  display: grid;
  gap: 4rem;
  align-items: center;
}

.sub {
  line-height: 1.6;
  color: var(--fg-muted);
  margin: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .section {
    padding: 5rem 4rem;
  }

  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 5rem 6rem;
  }
}
