@import url("https://fonts.googleapis.com/css2?family=K2D:wght@400;700&family=Krona+One&display=swap");
* {
	box-sizing: border-box;
}
:root {
	--verde-fondo: #787934;
	--crema: #ecedb0;
	--gris-slider: #d9d9d9;
	--gris: #1e1e1e;
	--beige: #ead8a4;
	--fuente-titulo: "Krona One", sans-serif;
	--fuente-cuerpo: "K2D", sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	background-color: var(--verde-fondo);
	font-family: "K2D", sans-serif;
	font-size: 1.6rem;
	color: var(--crema);
}

h1,
h2,
h3 {
	font-family: var(--fuente-titulo);
	font-weight: 400;
}

b,
strong {
	font-weight: 700;
}
