/* 

:root {
	

	--color1: #1e1e1e;
	--color2: #ecedb0;
	--color3: #787934;
	--color4: #ead8a4;
}

body {
	margin: 0;
	background-color: var(--color3);
	font-family: var(--fuente-cuerpo);
	-webkit-font-smoothing: antialiased;
} */

@import url("https://fonts.googleapis.com/css2?family=K2D:wght@400;700&family=Krona+One&display=swap");
* {
	box-sizing: border-box;
}
:root {
	--verde-fondo: #787934;
	--crema: #ecedb0;
	--gris-slider: #d9d9d9;
	--gris: #1e1e1e;
	--fuente-titulo: "Krona One", sans-serif;
	--fuente-cuerpo: "K2D", sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	background-color: var(--verde-fondo);
	font-family: "K2D", sans-serif;
	font-size: 1.6rem;
	color: var(--crema);
}

h1,
h2,
h3 {
	font-family: var(--fuente-titulo);
	font-weight: 400;
}

b,
strong {
	font-weight: 700;
}

/* .portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 40px;
  gap: 50px;
}

.title-badge {
  font-family: 'Krona One', sans-serif;
  background-color: var(--crema);
  color: #1a1a1a;
  padding: 10px 40px;
  display: inline-block;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.text-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.profile-circle {
  width: 180px;
  height: 180px;
  background-color: var(--crema);
  border-radius: 50%;
  flex-shrink: 0;
}

*/
